<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>{{title}}</h1>
    <p>This is the homepage of my website.</p>
    <p>Here is a list of some of my favorite things:</p>
    <ul>
        <li>{{ data.first_favorite }}</li>
        <li>{{ data.second_favorite }}</li>
        <li>{{ data.third_favorite }}</li>
    </ul>
</body>
</html>